
.root{
    background-color:#F4F7FE;
    border: none;
}

.root2{
    border: none;
    border-left: 0.4px solid #b9b8b8;
    border-right: 0.4px solid #b9b8b8;
    background-color:#F4F7FE;

}

.searchinput{
    background-color:#F4F7FE;
    border: none;
}

.input{
    border: none;
    background-color: transparent;
    color:#b9b8b8;
}

.inputroot{
    background-color: #EFF1F999;
    border-radius: 8px;
}