.calender{
    border-radius: 20px;
}

/* .day[data-first-in-range="true"]{
    border-radius: 50%;
    background-color: #F4F7FE;
}

.day[data-last-in-range="true"]{
    border-radius: 50%;
    background-color: #F4F7FE;
} */